body{
    color: lightpink;
    background-image: url(static/V3plu.gif);
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
    
}
header{
    
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
    font-size: larger;
}
main{
    font-family: 'Arizonia', cursive;
    font-size: x-large;
}
.choice{
    background-color: transparent;
    border-color: rgba(240, 248, 255,0.5);
    border-radius: 20px;
    height: 150px;
    width: 150px;
    padding: 15px;
    margin: 20px;
}
#yes{
    background-image: url(static/plz_yes.gif);
    background-size: contain;
}
#no{
    background-image: url(static/no.gif);
    background-size: contain;
}

.hearteyes{
    height: 80px;
    margin: 20px;
}

footer{
    margin-top: 100px;
    display: inline-block;
}
div{
    display: flex;
    justify-content: center;
}